.todos {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }

.todo {
    height: 10px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;

}

.todo:last-of-type{
    border: none;
}


.todo .done {
    text-decoration: line-through;
    color: #888;
  }